#banner{
  text-align: center;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1553298251440&di=df31f3ba0ceca1995c108dde8b5aed8e&imgtype=0&src=http%3A%2F%2Fbpic.588ku.com%2Fback_pic%2F03%2F76%2F52%2F3357bed1d985618.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  color:#FE5F55;
 }

#banner h1 {
  font-size: 50px;
  margin-top:-15px;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 40px;
  font-weight: bold; 
  margin-top:-25px;
}
.list-unstyled{
  padding: 0px;
}

.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 110px);
  margin-top: 20px;
}
.dashboard .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.dashboard .description {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}
.dashboard-card {
  background:#FCDECC;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .dashboard {
    display: block;
  }
}

/* Fonts and colors */
.dashboard h2 {
  font-size: 25px;
}
.dashboard h3 {
  color:#FE5F55;
  font-size: 25px;
  margin-bottom: 15px;
}
.dashboard p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
.dashboard img {
  border-radius: 50%;
}
.dashboard .btn {
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #FE5F55;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
}
.dashboard .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.main p {
  margin-bottom: 30px;
}

.tabs {
  background: #E27D68;
  color: black;
  display: flex;
  padding: 10px 10px 0 10px;
 
}

.tabs h3 {
  font-size: 17px;
  font-family: 'Baloo Chettan';
}

.tabs p {
  opacity: 0.5;

}

.tabs-item {
  background: #F2C5BC;
  flex: 0 0 25%;
  text-align: center;
}

.tabs-item:first-child {
  border-radius: 10px 0 0 0;
}
.tabs-item:last-child {
  border-radius: 0 10px 0 0;
}

.tabs-item.active {
  background: #F2C5BC;
  color: black;
}

.list-unstyled{
  padding: 0px;
}

.product{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
  margin-top: 20px;

}

.product:hover {
  background: #FCDECC;
}

.product:hover .product-upvote {
  font-size: 25px;
}

.product-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.product-description {
  flex: 1 0 auto;
  padding: 20px;
  margin-top:-25px;
}
.product-controls a {
  font-size: 15px;
  color: #F2C5BC;
}
.card-container{
  display: flex;
  justify-content: space-around;
  }
.card-white {
  background-color: #FCDECC;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 18px;
  margin: 16px 0px;
  width: 260px;
  }

.card-white img {
  margin-bottom: 20px;
} 

#footer{
  padding: 20px;
  background-color: #F2C5BC;
  color: black;
  font-size: 12px;
  margin-top:10px;
  
}

#footer a {
  color: #F2C5BC;
  font-size: 15px;
  -webkit-box-orient: horizontal;
}
#footer a:hover {
  color: red;
}


